
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table {
  display: flex;
  border: 1px solid black;
  width: fit-content;
}

.item-id, .item-des, .item-finish, .item-action {
  width: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
}
.item-id {
  width: 50px;
}
.item-des {
  width: 300px;
}
.item-finish {
  width: 100px;
}
.item-action {
  width: 150px;
}